verif/hawk/._runme.py
verif/hawk/csrc/
verif/hawk/simv
verif/hawk/simv.daidir/
verif/hawk/tr_db.log
verif/hawk/ucli.key
verif/hawk/vc_hdrs.h
verif/hawk/sim/
verif/hawk/novas_dump.log
verif/hawk/novas.conf
verif/hawk/verdiLog/
verif/hawk/novas.rc
._synopsys_sim.setup
verif/hawk/DVEfiles/
verif/hawk/elabcomLog/
verif/hawk/inter.fsdb
verif/hawk/inter.vpd
verif/hawk/work.lib++/
verif/vkits/hawk/._*
verif/hawk/*.stdout
verif/hawk/*.pyc
